@page
@model Hilerrøds_sejle.Pages.Medlemmer.SletModel
@{
    ViewData["Title"] = "Slet Medlem";
}

<h1>Er du sikker på du vil slette et medlem?</h1>

<hr />

<h4>Er du helt sikker? Medlemmet har ikke gjort dig noget…</h4>

<div>
    <h5>Medlemmet:</h5>
    <dl>



<dt>Navn</dt>
<dd>@Model.MedlemToDelete.Navn</dd>

<dt>Email</dt>
<dd>@Model.MedlemToDelete.Email</dd>

<dt>Rolle</dt>
<dd>@Model.MedlemToDelete.Rolle</dd>

<dt>Adresse</dt>
<dd>@Model.MedlemToDelete.Adresse</dd>

<dt>Telefon Nummer</dt>
<dd>@Model.MedlemToDelete.Telefonnummer</dd>

    </dl>

    <form method="post">
        <input type="hidden" name="id" value="@Model.MedlemToDelete.Id" />
        <button type="submit" class="btn btn-danger">Slet</button>
        <a asp-page="Index" class="btn btn-secondary">Annuller</a>
    </form>

</div>
